body{
    font-family: roboto;
}

a {
 text-decoration: none;
 color: black;
}

.loading_screen
{
    position: fixed;
    background-color: white;
    opacity:0 ;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Shrikhand;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    padding-bottom: 10px;
    animation: loading 8000ms;
}

#img_loading
{
    position: fixed;
    top: 670px;
    height: 13%;
    width: 15%;
    z-index: 1;
    animation: image 7000ms;
}

#text_loading
{
    position: fixed;
    top: 800px;
    font-size: 90px;
    animation: text 8000ms;
    color: #9d5bee;
}

.Point_loading
{
    position: fixed;
    margin-top: 500px;
    font-size: 120px;
    animation: Point infinite 2000ms;
    color: #ff79da;
}

@keyframes loading
{
    0%
    {
        opacity: 1;
        z-index: 1;
    }
    90%
    {
        opacity: 1;
        z-index: 1;
    }
    100%
    {
        z-index: 1;
    }
}
@keyframes image
{
    from
    {
        position: fixed;
        top:800px;
        transform: rotate(0deg);
    }
    
    to{
        position: fixed;
        top: 670px;
        transform: rotate(360deg);
    }
}

@keyframes text
{
    from
    {
        position: fixed;
        top:300px;
        opacity: 0;
    }
    
    to{
        position: fixed;
        top: 800px;
        opacity: 1;
    }
}

@keyframes Point{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

header{
    display: flex;
    justify-content: center;
}

#localisation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top:1px ;
    background-color:#eaeaea ;
    border-top: solid 1px;
    padding-left: 160px;
}

input:focus, input:hover 
{
    width: 270px;
    padding-left: 20px;
    border-radius: 35px;
    margin-left: 30px;
    font-size: 30px;
    color: rgb(5, 4, 5);
    box-shadow: 1.5px 5px 10px 2px #afafaf3d ;
    background-color: #9356dc;
    background-color: #f2eafb;
}

.localisation_button{
    background-color: #eaeaea;
    border: hidden;
    font-size: 40px;
    font-weight: lighter;
    
}

#Séléction{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-bottom: 150px;
   padding-top: 40px;
}

#Séléction h1 {
   
    font-size: 67px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
   
}

#Séléction p {
    font-size: 50px;
    text-align: center;
    margin-top: -18pt;
}

button
{
    border-radius: 150px;
    border: none;
    font-size: 40px;
    font-weight: bold;
    box-shadow:-5px 20px 10px 2px #afafaf3d;
    background-image: linear-gradient(0.99turn, #9356dc, #ff79da);
    color: #eaeaea;
    padding: 30px;
    margin-top: 15px;
}

#button:hover
{
    transform: scale(1.02);
    box-shadow: 1.5px 5px 10px 2px #979797;
    background-image: linear-gradient(0.01turn, #9356dc, #ff79da);
}

#Fonctionnement
{
    margin-left: 55px;
    margin-right: 35px;
    margin-bottom: 150px;
    margin-top: 128px;
    font-size: 31px;
}

.Fonctionnement_step
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #9356dc;
    color: white;
    position: absolute;
    margin-left: -20px;
}

.SousPartie_Fonctionnement
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    height: 120px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 10px 20px 30px 2px #afafaf3d;
    justify-content: center;
}
.SousPartie_Fonctionnement img
{
    height: 35px;
    width:32px;
    margin-right: 52px;
}

.Fonctionnement_bloc :hover
{
    margin-left: 40px;
    box-shadow: 10px 20px 30px 2px #6106613d;
    transform: scale(1.02);
    background-color: #9356dc;
    background-color: #f2eafb;
}

.SousPartie_Fonctionnement :hover
{
    margin-left: 0pt;
    box-shadow: none;
}
.coeur
{
    width: 74px;
    height: 57px;
    padding-right: 45px;
    padding-top: 40px;
}

.CoeurV2:hover
{
    opacity: 1;
}

main
{
    background-color: #f6f6f6;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
    padding-bottom: 76px;
}

.Menu
{
    border-radius:  40px  40px  40px 40px;
    background-color: white;
    box-shadow: 10px 20px 30px 2px #afafaf3d;
    margin-bottom: 53px;
    height: 636px;
    font-size: 42px;
}

.Menu_description
{
    display: flex;
    height: 141px;
    justify-content: space-between;
}

.Menu_photo
{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 75%;
}

.Menu_description_text h3
{
margin: 0px;
margin-top: 15px;
margin-left: 40px;
}

.Menu_description_text p
{
margin: 0px;
margin-top: 15px;
margin-left: 40px;
}


.New_1, .New_2
{
    position: absolute;
    margin-top:-600px;
    right: 100px;
    height: 80px;
    animation: pulse 1800ms infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer
{
    background-color: #353535;
    color: #eaeaea;
    height: 500px;
    font-size: 41px;
    padding-left: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer :hover
{
    color: blueviolet;
}

.footer_image-texte
{
    color: #eaeaea;
    display: flex;
height: 50px;
align-items: center;
}

.footer_image-texte img
{
    height: 70px; ;
    width: 50px; ;
}
footer img
{
    height: 30%;
    width: 30%;
}
footer p
{
    color: #eaeaea;
    margin: 0px;
}

@media all and (min-width: 992px)
{
    header
    {
        height: 110px;
    }
    #img_loading
    {
        left: 500px;
        top:350px;
        height: 23%;
    }

    #text_loading
    {
        top: 350px;
        left: 900px;
    }

    @keyframes image
    {
        from{
            position: fixed;
            left:1200px;
            transform: rotate(0deg);
        }
        
        to{
            position: fixed;
            left: 500px;
            transform: rotate(360deg);
        }
    }
    
    @keyframes text
    {
        from{
            position: fixed;
            left:300px;
            opacity: 0;
        }
        
        to{
            position: fixed;
            left: 900px;
            opacity: 1;
        }
    }
    main{
        padding-top: 10px;
    }

    main h1
    {
        display: flex;
        justify-content: center;
    }
    #container
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-top: 40px;
        height: 500px;
    }
    
    .Menu
    {
        width: 650px ;
        height: 410px;
        font-size: 20px;
    }  
    
    .coeur
    {
        position: absolute;
        width: 43px;
        height: 35px;
        margin-left: 552px;
        margin-top: 12px;
        padding: 20px;
    }

    .CoeurV2
    {
         position: absolute;
  width: 43px;
  height: 35px;
  margin-left: 552px;
  margin-top: 12px;
  padding: 20px;
}
    .CoeurV2:hover
    {
        opacity: 1;
    }

    .New_1, .New_2
    {
        position: absolute;
        margin-top:-440px;
        right: auto;
        margin-left: 535px;
        height: 35px;
        width: 90px;
    }

    #localisation
    {
        height: 100px;
    }

    .localisation_logo
    {
        height: 57px;
        margin-top: 20px;
    }

    .localisation_button
    {
        font-size: 25px;
    }
    
    #Séléction
    {
        display: flex;
        background-color: white;  
        padding-top: 0px;
        padding-bottom: 82px;
        justify-content: space-between;
    }

    #Séléction h1
    {
        font-size: 35px;
        
    }
    
    #Séléction p
    {
        margin: 0px;
        font-size: 27px;
    }

    #Séléction input
    {
       margin: 0pt;
        font-size: 20px;
    }

    #Fonctionnement 
    {
        margin-top: 0px;
    }
    #Fonctionnement h1
    {
        font-size: 33px;
        margin-left: 35px;
    }

    .SousPartie_Fonctionnement
    {
        height: 55px;
        font-size: 13px;
        width: 350px;
    }

    .Fonctionnement_step
    {
        margin-top: 30px;
        height: 40px;
        width: 40px;
        margin-left: -20px;
    }

    .SousPartie_Fonctionnement img
    {
        height: 18px;
        width:15px;
        margin-right: 20px;
    }

    button{
        font-size: 20px;
    }
    
    .Cards
    {
      display: flex;  
      flex-wrap: wrap;
      justify-content: space-around
    }

    footer{
        height: 185px;
        font-size: 20px;
        flex-direction: row;
        align-items: center;   
    }
    footer img
    {
        height: 35%;
        width: 20%;

    }   
    .footer_image-texte img 
    {
        height: 52px;
        width: 42px;
    }
}
